.se-container{
  width: 1000px;
  margin: 80px auto 0 auto;
}

.se-container .se-title{
  font-weight: bold;
  font-size: 18px;
  padding: 5px 20px;
}

.se-container .se-subtitle{
  font-size: 14px;
  color: #aaa;
  padding: 0 0 10px 20px;
}

.se-content{
  width: 1000px;
  overflow: hidden;
  margin: 0 auto;
}

.se-content .se-list{
  width: 210px;
  height: 300px;
  margin:0 50px 20px 0;
}

.se-content .se-list:nth-child(4n){
  margin-right: 0;
}

.se-content .se-list .b-pic{
  width: 210px;
  height: 250px;
  display: block;
  border-radius: 6px;
}

.se-list .l-t{
  padding: 5px 0;
  font-weight: bold;
  font-size: 14px;
}

.se-list .u-pic{
  width: 20px;
  height:20px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.se-list .l-member{
  background: url("../image/icon02.png") no-repeat 1px;
  padding: 0 10px 0 25px;
  font-size: 12px;
  color: #aaa;
}

.se-list .s-member{
  background: url("../image/icon01.png") no-repeat 1px;
  padding: 0 0 0 25px;
  font-size: 12px;
  color: #aaa;
}

.se-content .se-list .b-pic:hover{
  opacity: 0.8;
}

